<?php
define('DB_NAME', '{{ db_name }}');
define('DB_USER', '{{ db_username }}');
define('DB_PASSWORD', '{{ db_password }}');
define('DB_HOST', '{{ db_host }}');
define('WP_CONTENT_DIR', '/usr/share/wordpress/wp-content');
?>
